/* Color Pallete */
/* BLACK = 080708 */
/* BLUE = 3772FF */
/* RED = DF2935 */
/* SUNGLOW = FDCA40 */
/* WHITE = E6E8E6 */

* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background-color: #E6E8E6;
}

header {    
    padding: 5px;
    height: 50px;
    background-color: #3772FF;
    color: #FFFF;
    text-align: center;
    line-height: 50px;
}

header>h1 {
    margin: 0;
    padding: 0;
}

header>h1>span {
    font-size: 16px;
    font-weight:normal;
}

.container {
    background-color: white;
    margin: 2% 3%;
    padding: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.greetings {
    width: 100%;
    text-align: center;
    margin : 10px 0 10px 0;
}

h3 {
    background-color: #DF2935;
    color: #FFFF;
    height: 50px;
    line-height: 50px;
    width: 100%;
    /* margin: 0; */
}


.content>p {
    text-align: left;
}

.content>p:nth-child(4) {
    text-align: center;
}

.counting-page {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.counting-page>h3 {
    background-color: #FDCA40;
    color: black;
}

input {
    display: block;
    width: 99.4%;
    height: 25px;
}

#hasil {
    width: 99.4%;
    height: 80px;
    resize: none;
    margin-top: 5px;
}

button {
    display: inline-block;
    width: 150px;
    height: 35px;
    margin: 10px auto 0;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

#btn-luas {
    background-color: #080708;
    color: #FFFF;
}

#btn-reset {
    background-color: #DF2935;
    color: #FFFF;
}

#btn-hitung {
    background-color: #3772FF;
    color: #FFFF;
}

footer {
    text-align: center;
    background-color: #080708;
    color: #FFFF;
    height: 100px;
    line-height: 100px;
}